---
// src/components/QuienesSomos.astro
import { getRandomInt } from '../utils/random';

const numImages = 1000; // Número de imágenes a generar
const images = Array.from({ length: numImages }, (_, index) => ({
  id: index,
  top: `${getRandomInt(0, 90)}%`,
  left: `${getRandomInt(0, 90)}%`,
}));

---

<style>
  .image-container {
    position: absolute;
    z-index: 2;
    cursor: pointer;
  }
  .image-container img {
    width: 50px; /* Ajusta el tamaño de las imágenes según sea necesario */
    height: auto;
  }
  .refresh-button {
    padding: 10px 20px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
</style>

{images.map(image => (
  <div class="image-container" style={`top: ${image.top}; left: ${image.left};`}>
    <img src="/seta.webp" alt="Seta" />
  </div>
))}

<script>
  document.addEventListener('DOMContentLoaded', () => {
    let counter = 0;
    const counterElement = document.getElementById('counter');
    const images = document.querySelectorAll('.image-container img');
    images.forEach(image => {
      image.addEventListener('click', () => {
        image.style.visibility = 'hidden';
        counter++;
        counterElement.textContent = counter;
      });
    });

    const refreshButton = document.getElementById('refreshButton');
    refreshButton.addEventListener('click', () => {
      location.reload();
    });
  });
</script>
